@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

@import 'framework/_variables.scss';
@import 'framework/_reset.scss';

.nav-tabs > li {
    width: 33.333%;
    background-color: #eee;
    text-align: center;

    a {
        border: none !important;
        border-radius: 0;
        color: #993434;
        margin: 0;
        &:hover {
            background-color: #ddd;
        }
    }
}
.nav-tabs > li.active a {
    background-color: #993434 !important;
    color: #fff !important;
    &:hover{
        color: #fff;
    }
}
/*OLD*/
.title-section {
    font-size: 1.7em;
    padding: 15px;
    padding-bottom: 8px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}
.section-title {
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.component {
    background-color: #FFF;
    border: 1px solid #EBEBEB;
    border-top-width: 4px;
    margin-bottom: 20px;
}

textarea {
    resize: none;
}
/*.reservation-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;    
}*/
.habitacion {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid #B0B0B0;
    margin-bottom: .6rem;
    padding: 5px 10px;
    
    #{&}-detalle {
        padding: .5em 0;
    }
    #{&}-detalle-tipo {
        margin-bottom: 1em;
    }
    #{&}-detalle .form-group {
        margin-bottom: 0;
    }
}
.habitacion-precio {
    .input-group {
        width: 110px;
        .form-control {
            text-align: center;
        }
    }
}
.form-group--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.3rem;

    .form-control {
        width: 60%;
    }
}

.form-textarea {
    align-items: initial;
}

.main-title {
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.rooms-text {
    margin: 5rem 0;
}
/* CREDIT CARD VALIDATION */
.credit-card.ng-touched.ng-valid {
    border: 1px solid $green-flat;
    box-shadow: 0 0 1px 1px rgba($color: $green-flat, $alpha: .5);
}

.credit-card.ng-touched.ng-invalid, .credit-card.ng-touched.ng-empty, form[name=reservaOnline] input.ng-touched.ng-empty.ng-invalid {
    border: 1px solid $red-flat;
    box-shadow: 0 0 1px 1px rgba($color: $red-flat, $alpha: .5)
}
.credit-card.ng-touched.ng-valid:focus {
    border-color: $green-flat;
    box-shadow: 0 0 1px 1px $green-flat;
}
.credit-card.ng-touched.ng-invalid:focus {
    border-color: $red-flat;
    box-shadow: 0 0 1px 1px rgba($color: $red-flat, $alpha: .5)
}

.credit-card.ng-touched.ng-invalid:active, .credit-card.ng-touched.ng-invalid:focus, .credit-card.ng-touched.ng-valid:active, .credit-card.ng-touched.ng-valid:focus {
    box-shadow: none !important;
    outline: none !important;
}
input.credit-card + span {
    display: none;
}
input.credit-card.ng-touched.ng-invalid + span{
    position: absolute;
    top: 11.5rem;
    right: 4.3rem;
    display: block;
}

/*DETALLE DE RESERVACION*/

.cant-habs-reservadas {
    height: 30px;
    font-size: 2em;
    font-weight: 500;
}
/*.total-noches {
    height: 24px;
    font-size: 1.5em;
    font-weight: 500;

    & + span  {
        display: block;
        font-size: .93em;
        margin-top: 5px;
        margin-left: -10px;
    }
}*/
.total {
    font-size: 36px;
    margin-top: -8px;
}
.component-reservation .component:nth-child(1){
    padding: 10px
}
.component-reservation__fixed{
    position: fixed;
    //top: 10rem;
    right: 0;
}
/*.component-reservation:hover + .detalle-reserva, .detalle-reserva:hover {
    display: block;
}
.detalle-reserva {
    display: none;
    position: absolute;
    top: 116px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #B0B0B0;
}*/

/*ICON REMOVE HABITACION FROM RESERVATION*/
.fa-minus-circle {
    cursor: pointer;
    color: #e74c3c;
}

.terminos-condiciones {
    line-height: 1.5;
    margin-top: 10px;
}

.section-title--reserva {
    margin: 0;
    margin-top: -15px;
    margin-left: -11px;
    margin-right: -11px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #993434;
    color: #fff;
}